<div class='main'>
  <%# キャッチ %>
  <div class='title-contents'>
    <div class="copies">
      <h2 class='top-title'>
        Hello Runner!
      </h2>
      <p class='top-explain'>
        きれいな景色、おいしいグルメ、人の温かさ。<br>
        あなたの感動を届けよう、<br>
        日本中のランナーに。
      </p>
    </div>
  </div>
  <%# キャッチ %>

  <%# アプリ紹介 %>
  <div class='introduction-contents'>
    <h2 class='title'>
      「あの街よかったよ！」と<br>ランナー同士で共有しあえるプラットフォーム。
    </h2>
    <ul class='introduction-lists'>
      <li class='list'>
        <%= image_tag "3040067.jpg", class:"list-pict" %>
        <h3 class='introduction-list-text'>
          感動を伝えよう
        </h3>
        <p class='introduction-list-description'>
          全国のランナーがあなたの発信を待っています！
        </p>
        <%=link_to '投稿する', new_post_path, class:"button-2" %>
      </li>
      <li class='list'>
        <%= image_tag "2408286.jpg", class:"list-pict" %>
        <h3 class='introduction-list-text'>
          行きたい街を見つけよう
        </h3>
        <p class='introduction-list-description'>
          エリア検索、カテゴリー検索ができます！
        </p>
        <%= link_to '検索する', search_posts_path, class:"button-2" %>
      </li>
      <li class='list'>
        <%= image_tag "21004062.jpg", class:"list-pict" %>
        <h3 class='introduction-list-text'>
          フォローしよう
        </h3>
        <p class='introduction-list-description'>
          同じ趣味のランナーと繋がって、走るをもっと楽しもう！
        </p>
        <%= link_to 'マイページ', user_path(current_user.id), class:"button-2" %>
      </li>
    </ul>
  </div>
  <%# アプリ紹介 %>

  <%# 新着情報 %>
  <div class='news-contents'>
    <h2 class='title'>新着情報</h2>
    <% @posts.each do |post| %>
      <div class="cp_card">
        <div class="photo photo1">
          <%= link_to image_tag(post.image), "#" %>
        </div>
        <ul class="details">
          <li class="author"><i class="fas fa-user"></i> <a href="#"><%= post.user.nickname %></a></li>
          <li class="date"><i class="far fa-calendar"></i> <%= post.event_date %></li>
          <li class="tags"><i class="fas fa-tag"></i> <a href="#"><%= post.prefecture.name %></a></li>
        </ul>
        <div class="description">
          <h1><%= post.title %></h1>
          <h2><%= post.event_name %></h2>
          <p class="text"><%= post.text.slice(0,100) %>...</p>
          <%= link_to "Read More", post_path(post), class:"read-more"  %>
        </div>
      </div>
    <% end %>
  </div>
  <%# 新着情報 %>
</div>
