<div class="container">
  <h2 class="post-title"><%= @post.user.nickname %>さんの投稿</h2>
  <div class="show-head">
    <div class="prefecture-tag"><%= @post.prefecture.name %></div>
    <div class="show-title"><%= @post.event_name %></div>
  </div>
  <div class="detail-contents">
    <div class="post-img">
      <%= link_to image_tag(@post.image), "#" %>
    </div>
    <div class="detail">
      <table class="show-table">
        <tbody>
          <tr>
            <th class="table__col3">開催日</th>
            <td class="table__col4"><%= @post.event_date %></td>
          </tr>
          <tr>
            <th class="table__col3">大会記録</th>
            <td class="table__col4"><%= @post.tournament_record %></td>
          </tr>
          <tr>
            <th class="table__col3">タイトル</th>
            <td class="table__col4"><%= @post.title %></td>
          </tr>
          <tr>
            <th class="table__col3">本文</th>
            <td class="table__col4"><%= @post.text %></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  <div id="likes_buttons_<%= @post.id %>">
    <%= render partial: 'shared/like', locals: { post: @post, likes: @likes} %>
  </div>
</div>
<div class="sub-container">
  <% if user_signed_in? %>
    <div class="btn-contents">
      <% if current_user == @post.user %>
        <%= link_to '編集する', edit_post_path(@post), class:"edit-post-btn" %>
        <%= link_to '削除する', post_path(@post), method: :delete, class:"delete-post-btn" %>
      <% end %>
    </div>
    <div class="comment-contents">
      <%= form_with(model: [@post, @comment],local: true) do |f|%>
        <div class="field">
          <%= f.label :text, "コメント", class:"comment-str" %> <i class="far fa-comment"></i><br>
          <%= f.text_field :text, class:"comment-box" %>
        </div>
        <div class="actions">
          <%= f.submit "送信する" %>
        </div>
      <% end %> 
      <ul class="comments_lists">
        <% @comments.each do |comment| %>
          <li class="comments_list">
            <%= comment.text %>
            <%= link_to "#{ comment.user.nickname }", user_path(comment.user_id), class: :comment_user %>
          </li>
        <% end %>
      </ul>
    </div>
  <% end %>
</div>